/* common classes */
.box {
  background-color: var(--white);
  box-shadow: 0 19 40 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.common-text {
  font-size: var(--common-text);
  font-weight: "regular";
  color: var(--text-color);
  line-height: 24px;
}

.input {
  width: 100%;
  max-width: 262px;
  height: 56px;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 16px;
}

.input::placeholder {
  color: var(--placeholder-color);
  font-size: 16px;
}

select {
  min-width: 294px;
  background-color: var(--white);
  padding: 0px 15px;
}

.confirm-button {
  font-family: 'poppins';
  background-color: var(--main-green);
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;
  width: 161px;

  padding: 15px 19.5px;

  font-size: 16px;
  font-weight: 400;
  color: var(--white);

  cursor: pointer;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

body {
  background-color: var(--main-dash);
}

/* header */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  background-color: var(--secondary-green);
}

header img#logo-ux {
  width: 50px;
  height: 50px;
  grid-column: 1;
  align-self: center;
  justify-self: start;
}

header img#logo-poupe-mais {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

header img#logout-btn {
  width: 46px;
  height: 46px;
  cursor: pointer;
  grid-column: 3;
  align-self: center;
  justify-self: end;
}

/* main  */
main#principal {
  min-height: calc(100vh - 82px);

  max-width: 63.875rem;
  margin: auto;
  background-color: var(--mint);
  height: calc(100% - 90px);
  padding: 50px 150px;
}

/* fincancial summary section */
.fincancial-summary-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 30px 74px;
  border-radius: 15px;
  border: 1px solid var(--border-gray-color);
  background-color: var(--mint);
}

.fincancial-summary-section .greetings {
  display: flex;
  align-items: center;
  gap: 19px;
}

.greetings img {
  height: 66.85px;
  width: 66.8496px;
}

.greetings h1 {
  font-size: var(--heading-1);
  color: var(--secondary-dark-color);
  line-height: 48px;
  font-weight: 600;
}

.fincancial-summary-section .income-outcome {
  display: flex;
  gap: 55px;
}

.income-outcome div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.income-outcome #incomes span {
  font-weight: normal;
}

.income-outcome #expenses span {
  font-weight: normal;
}

.income-outcome div:nth-child(1) p:nth-child(2) {
  font-weight: 600;
  color: var(--green);
}

.income-outcome div:nth-child(2) p:nth-child(2) {
  font-weight: 600;
  color: var(--red);
}

.income-outcome div span {
  font-weight: normal;
}

.fincancial-summary-section .overwall-balance h1 {
  color: var(--secondary-green);
  font-size: var(--heading-1);
  font-weight: 600;
}

.overwall-balance p {
  text-align: end;
}

.overwall-balance h1 span {
  font-weight: 100;
}

/* dialogs */
dialog::backdrop {
  background-color: var(--backdrop-color);
  opacity: 0.7;
}

dialog {
  border: none;
  width: 382px;

  background-color: transparent;
  padding: 0px;
}

dialog main {
  margin-top: 36px;
  background-color: var(--mint);
  position: relative;

  border-radius: 15px;
  padding: 71px 60px 52px;
}

dialog main span {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--red);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
}

.modals-section {
  padding: 24px 22px;
}

.modals-section p {
  margin-bottom: 25px;
}

.modals-section ul {
  display: flex;
  gap: 19px;
}

.modals-section ul button {
  width: 72px;
  height: 72px;
  background-color: var(--red);
  border-radius: 50%;
  cursor: pointer;
}

/* expense management */
.expense-management {
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.expense-management .subarea {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 40%;
}

.expense-management .spending-categories {
  min-height: 100%;
  width: 60%;
}

/* quick access */
.quick-access {
  padding: 25px;
  border-radius: 15px;
  border: 1px solid var(--border-gray-color);
  background-color: var(--mint);
}

.quick-access h3 {
  margin-bottom: 25px;
}

.quick-access .access {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quick-access button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
}

.quick-access .access-01 {
  background-color: var(--green-light-color);
}

.quick-access .access-02 {
  background-color: var(--red-light-color);
}

.quick-access .access-03,
.quick-access .access-04 {
  background-color: var(--blue-light-color);
}

/* biggest expenses month */
.biggest-expenses-month {
  padding: 25px;
  border-radius: 15px;
  border: 1px solid var(--border-gray-color);
  background-color: var(--mint);
}

.biggest-expenses-month h3 {
  margin-bottom: 25px;
}

.biggest-expenses-month ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  list-style-position: inside;
}

.biggest-expenses-month ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.biggest-expenses-month ul li.no-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.biggest-expenses-month ul li span {
  font-size: var(--common-text);
  font-weight: "regular";
  color: var(--text-color);
  line-height: 24px;
}

.biggest-expenses-month ul li span img {
  display: inline-block;
  margin-right: 8px;
}

/* spending categories */
.spending-categories {
  padding: 25px;
  border-radius: 15px;
  border: 1px solid var(--border-gray-color);
  background-color: var(--mint);
}

.spending-categories h3 {
  margin-bottom: 25px;
}

.spending-categories .categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.spending-categories .categories .category {
  color: var(--secondary-dark-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  padding: 30px 25px;
  gap: 15px;
  background-color: var(--category-color);
}

.spending-categories .categories .btn-new-categorie {
  font-size: 16px;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  padding: 30px 25px;
  gap: 15px;
  background-color: var(--btn-gray-color);
}

/* footer */
footer {
  font-size: 14px;
  color: var(--white);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-dark-color);
}